<h1>Edit List Name</h1>

<form method="post" action="/lists/<%=@list.id%>">
<input id="hidden" type="hidden" name="_method" value="PATCH">
<input type="text" name="name" value="<%=@list.name%>"><br><br>

<% @list.games.each do |game| %>
<h1><i class="fa"></i><%= game.name %></h1>
<a href="/games/<%= game.id %>/edit"><i class="fa"></i> Edit Game</a>
<a href="/games/<%= game.id %>/delete"><i class="fa"></i> Delete Game</a>
<% end %>

<br>
<input class="btn btn-success" type="submit" name="update" value="Update">
</form>