
<h1>Hello <%=@user.username %>!</h1>
<a href="/lists/new"><button type="button" class="btn btn-success">Create A New List</button></a>

<div class="col-6">
<% @lists.each do |list|%>
<% if list.user_id == @user.id %>

<h2><%= list.name %></h2>
<a href="/lists/<%=list.id%>/edit"><i ></i> Edit List</a>
<a href="/lists/<%=list.id%>/delete"><i ></i> Delete List</a>
<h4><a href="games/new/<%=list.id%>"><i </i> New Game</a></h4>

<% list.games.each do |game| %>
<h4></i> <%= game.name %>
<a href="/games/<%= game.id %>/edit"><i ></i>Edit</a>
<a href="/games/<%= game.id %>/delete"><i ></i>Delete</a>
</h4>
<% end %>
<% end %>
<% end %>